{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        {% block header %}
            <table class="table">
                <thead>
                <tr>
                    <th><a href="{{ path('home') }}"><img src="" alt=" "></a></th>
                    <th><a href="">Films</a></th>
                    <th><a href="">Games</a></th>
                    <th><a href="">TV series</a></th>
                    <th><a href="">Anime</a></th>
                    <th>
                        <button onclick="location.href='{{ path('app_login') }}'" type="button">Log in</button>
                        <button onclick="location.href='{{ path('app_signup') }}'" type="button">Sign up</button>
                    </th>
                </tr>
                </thead>
            </table>
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">

            <div class="col"></div>

            <div class="col">
                <h1>{{ title.name }} ({{ title.year }})</h1>
                <img src="{{ asset('uploads/covers/' ~ title.coverFilename) }}" alt="Cover">
                <div>{{ title.description }}</div>
            </div>

            <div class="col"></div>

        </div>
    </div>
{% endblock %}